
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", system-ui;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
}
body{
   background: rgb(248,248,248);
}
.logo svg{
    cursor: pointer;
}
/* Animation part */
.wrapper{
    background: rgb(237,237,237);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    --fonts{
    font-size: 16px;
    font-weight: 500;
    }
}
/* .wrapper ul:first-child{
    background: yellow;
}
.wrapper ul:last-child{
    background: pink;
} */
.wrapper ul{
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap:12px;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}
.wrapper ul li{
    padding: 0 2px;
    font-size: 13px;
    font-weight: bold;
}
.wrapper ul li span,i{
    padding: 0 5px;
   
}
@keyframes scroll{
    to{
        transform: translate(-100%);
    }
}
.wrapper:hover ul{
    animation-play-state: paused;

}



/* Header part */

:root{

        --padding: 0px 50px;
        --background: rgb(248,248,248);
        --bacground2: rgb(237,237,237);
}
header{
    margin-top: 10px;
    padding: 5px 10px;
    line-height: 1.5;
  }
 

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    nav, .flex, .right1, .btns, .right1 .btns a{
        display: block;
        flex: 1;
        flex-wrap: wrap;
    }
}

.input{
    position: relative;
}

.input input{
  
    padding: 8px;
    width: 250px;
   outline: none;
   background: rgb(237,237,237);
   border: none;
   border-radius: 5px;
}
.input label{
   position: absolute;
   left: -1px;
   padding: 6.4px;
}
input[type="search"]{
    padding-left: 30px ;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

 nav a span {
    background: black;
    color: white;
    padding: 3px 5px;
    font-size: 7px;
    border-radius: 5px;
}
nav a:hover, .right1 a:hover, .onclick-search .login-sign a:hover{
    color: rgb(56,56,56);
}
nav a:hover span{
    background: rgb(56,56,56);

}

.btns a{
   
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: .5s;
    gap: 30px;
}



.btns a:last-child{
    background: none;
    color: black;
}
.btns a:hover{
    background: rgb(56,56,56);
    color: white;
}

main{
    padding: 5px 50px;

}

.inner{
    padding:  10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bacground2);
    margin: 8px auto;
    line-height: 1.5;    
}
.inner a{
    padding: auto 15px;
    background: rgb(248,248,248);
    border-radius: 5px;
    margin: auto 2px;
    /* text-align: center; */
}
.right a:first-child{
    padding: 10px;
}
.right a:first-child span{
    background: rgb(220,131,92);
  
    padding: 5px 8px;
    font-size: 8px ;
}
.left-side a:hover , .right-side ul li:hover,
    .inner a:hover {
    background: white;

}







.right a span{
    border-radius: 5px ;
}
.right-btn a:first-child{
    padding: 4px;
    color: rgb(136,105,150);
    border: 1px solid rgb(136,105,150);
    border-radius: 5px;
}
.right-btn a:last-child{
    padding: 4px;
    color: rgb(142,171,200);
    border: 1px solid rgb(142,171,200);
    border-radius: 5px;
}

.after{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    
}
.after .right1 a{
    font-weight: 350;
}
.after .right1 span{
    border-radius: 3px;
    padding: 0 2px;
    border: 1px solid black;
    font-size: 10px;

}
.after .right1 b, span{
    gap: 10px;
}
.after span{
    opacity: 0.9;
    
}
.left a span{
background: none;
color: black;

}
.after .left span:nth-child(2){

  
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 1;
    
}
.after .left span:nth-child(4){

    font-size: 13px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 1;
    
}


.menu, .left-menu, .right-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 237, 237);
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
}
.link-btn{
    background:#fff;
    border-radius: 8px;
}
.link-btn a{
    display: block;
    text-decoration: none;
    background: rgb(248, 248, 248);
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 13px;
}
.link-btn a:hover{
    background: #fff    ;
}
 